body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
  flex:1;
}

.navbar{
  height:5rem;
  background-color: white;
}

.fa-compass{
  color:dodgerblue;
  font-size: 2rem;
}

.nav-link{
  color:#133f42 !important; 
}

.f-info-links a{
  text-decoration: none;
  color:#222222;
}

.f-info-links a:hover{
  text-decoration: underline;
}

.f-info-socials, .f-info-links, .f-info-brand{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i{
  font-size: 1.3rem;
  margin-right: 1rem;
}

.f-info{
  text-align:center;
  height:8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap:wrap;
  justify-content:center;
  align-items: space-evenly;
}

@media(max-width:768px){
  .head_tab{
    font-size: 1.5rem !important;
    flex-wrap: wrap;
    max-width: 100px;
    margin-left: -1.3rem !important;
    text-align: center;
    white-space: nowrap;
    line-height: 1.2;
    align-items: space-evenly;
  }

  .f-info{
    flex-direction: column;
  }

  .line_q{
    max-width: 400px;
    flex-wrap: wrap;
    white-space: nowrap;
    margin-left: -1.2rem!important;
    text-align: center;
    align-items: space-evenly;
  }

  .btn_sign{
    margin-left: -2rem !important;
    max-width: 400px;
    text-align: left;
  }

}